-var ՀԱՄԱԼՍԱՐԱՆ = "ՀԱՄԱԼՍԱՐԱՆ"
-var ՀԱՇՎԵՏՎՈՒԹՅՈՒՆ = "ՀԱՇՎԵՏՎՈՒԹՅՈՒՆ"

doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="")
        meta(name="author" content="")
        
        title= ՀԱՄԱԼՍԱՐԱՆ
        
        // Bootstrap core CSS
        link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet")
        link(rel="stylesheet" href="dashboard.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css") 
    body
        nav(class ="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0")
            a(class="navbar-brand col-sm-3 col-md-2 mr-0" href="#") ՀԱՄԱԼՍԱՐԱՆ
            input(class="form-control form-control-dark w-100" type="text" placeholder="ՈՐՈՆՈՒՄ" aria-label="Search")
            ul(class="navbar-nav px-3")
                li(class="nav-item text-nowrap")
                    a(href="#").nav-link ԴՈՒՐՍ ԳԱԼ

        .container-fluid
            .row
                nav(class="col-md-2 d-none d-md-block bg-light sidebar")
                    .sidebar-sticky
                        ul(class="nav flex-column")
                            li.nav-item
                                a(class="nav-link active" href="#")
                                    span(data-feather="home")
                                    | ՑՈՒՑԱԿ  
                            li.nav-item
                                a(href="profession.html").nav-link
                                    span(data-feather="file") 
                                    | ՄԱՍՆԱԳԻՏՈՒԹՅՈՒՆՆԵՐ
                            li.nav-item
                                a(href="#").nav-link
                                    span(data-feather="shopping-cart")
                                    | ՖԱԿՈՒԼՏԵՏ
                            li.nav-item
                                a(href="student-personal.html").nav-link
                                    span(data-feather="shopping-cart")
                                    | ՈՒՍԱՆՈՂԻ ԱՆՁՆԱԿԱՆ ՏՎՅԱԼՆԵՐ    
                            li.nav-item
                                a(href="./student.html").nav-link
                                    span(data-feather="shopping-cart")
                                    | ՈՒՍԱՆՈՂՆԵՐ
                        h6(class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted")
                            span= ՀԱՇՎԵՏՎՈՒԹՅՈՒՆ
                            a(class="d-flex align-items-center text-muted" href="#")
                                span(data-feather="plus-circle")
                        ul(class="nav flex-column mb-2")
                            li.nav-item
                                a(href="#").nav-link
                                    span(data-feather="file-text")
                                    | ԸՆԹԱՑԻԿ ԱՄԻՍ
                            li.nav-item
                                a(href="#").nav-link
                                    span(data-feather="file-text")
                                    | ԵՐԿՐՈՐԴ ԿԻՍԱՄՅԱԿ
                            li.nav-item
                                a(href="#").nav-link
                                    span(data-feather="file-text")
                                    | ՏԱՐԵՎԵՐՋԻ ԶԵՂՉԵՐ
                main(role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4")
                    h3 ՖԱԿՈՒԼՏԵՏ
                    <br/>
                    .table-responsive
                        table(class="table table-bordered ")
                            thead.thead-dark
                                tr
                                    th #
                                    th ԱՆՎԱՆՈՒՄ
                                    th ԲԱԺԻՆ
                                    th ԿՈՒՐՍ
                                    th ՈՒՍ. ՎՃԱՐ
                                    th
                            tbody.table-hover
                            each val in profession
                                tr  
                                    td=val.id
                                    td=val.profession
                                    td=val.faculty
                                    td=val.study_yea
                                    td=val.pay
                                    td 

                                        a(type="button" class="btn btn-primary" href="/professions/" + val.id) 
                                            i(class="fa fa-bars")
                                        a(type="button" class="btn btn-info" href="/professions/" + val.id)
                                            i(class="fa fa-edit")
                                        a(type="button" class="btn btn-danger" href="/professions/" + val.id)
                                            i(class="fa fa-trash-o")
                                    tr
                                                                      
                        ul(class="pagination justify-content-end")
                            li.page-item
                                a(href="#").page-link Previous
                            li.page-item
                                a(href="#").page-link 1
                            li.page-item
                                a(href="#").page-link 2
                            li.page-item
                                a(href="#").page-link 3
                            li.page-item
                                a(href="#").page-link Next