-var title = "ՈՒՍԱՆՈՂԻ ԱՆՁՆԱԿԱՆ ՏՎՅԱԼՆԵՐ"

doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="")
        meta(name="author" content="")
        link(rel="stylesheet" href="data.css")
        title= title
    body
        img(src="" alt="")
        .a
            p ԱՆՈՒՆ
            p ԱԶԳԱՆՈՒՆ
            p ՀԱՅՐԱՆՈՒՆ
            p ՍԵՌ
            p ԾՆ․ԱՄՍԱԹԻՎ
            p ՀԵՌԱԽՈՍ
            p Էլ․ՀԱՍՑԵ
        .button
            button(type="button" class="btn btn-primary" href="#") View
            button(type="button" class="btn btn-primary" href="#") Edit
        
            each val in student
                p= val.id
                p= val.name
                p= val.surname
                p= val.middlename
                p= val.gender
                p= val.birthday
                p= val.mobile
                p= val.email       