-var title = "ԴԱՍԱԽՈՍԻ ԱՆՁՆԱԿԱՆ ՏՎՅԱԼՆԵՐ"
-var ՀԱՇՎԵՏՎՈՒԹՅՈՒՆ = "ՀԱՇՎԵՏՎՈՒԹՅՈՒՆ"

doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="")
        meta(name="author" content="")
        link(rel="stylesheet" href="/assets/css/teacher.css"  type='text/css')        
        title= title
        
        // Bootstrap core CSS
        link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css") 
    body
        nav(class ="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0")
            a(class="navbar-brand col-sm-3 col-md-2 mr-0" href="#") ՀԱՄԱԼՍԱՐԱՆ
            input(class="form-control form-control-dark w-100" type="text" placeholder="ՈՐՈՆՈՒՄ" aria-label="Search")
            ul(class="navbar-nav px-3")
                li(class="nav-item text-nowrap")
                    a(href="#").nav-link ԴՈՒՐՍ ԳԱԼ

        .container-fluid
            .row
                nav(class="col-md-2 d-none d-md-block bg-light sidebar")
                    .sidebar-sticky
                        ul(class="nav flex-column" id="nav")
                            li.nav-item
                                p(class="p")
                                    span(data-feather="home")
                                    | ՑՈՒՑԱԿ
                                    hr  
                            li.nav-item
                                a(href="/professions").nav-link
                                    span(data-feather="file") 
                                    | ՄԱՍՆԱԳԻՏՈՒԹՅՈՒՆՆԵՐ
                            li.nav-item
                                a(href="/faculties").nav-link
                                    span(data-feather="shopping-cart")
                                    | ՖԱԿՈՒԼՏԵՏ  
                            li.nav-item
                                a(href="/students").nav-link
                                    span(data-feather="shopping-cart")
                                    | ՈՒՍԱՆՈՂՆԵՐ
                            li.nav-item
                                a(href="/teachers").nav-link
                                    span(data-feather="shopping-cart")
                                    | ԴԱՍԱԽՈՍՆԵՐ
                        h6(class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted")
                            a(class="d-flex align-items-center text-muted" href="#")
                                span(data-feather="plus-circle")
                        ul(class="nav flex-column mb-2" id="nav_1")
                            li.nav-item
                                a(href="#").nav-link
                                    span(data-feather="file-text")
                                    | ԸՆԹԱՑԻԿ ԱՄԻՍ
                            li.nav-item
                                a(href="#").nav-link
                                    span(data-feather="file-text")
                                    | ԵՐԿՐՈՐԴ ԿԻՍԱՄՅԱԿ
                            li.nav-item
                                a(href="#").nav-link
                                    span(data-feather="file-text")
                                    | ՏԱՐԵՎԵՐՋԻ ԶԵՂՉԵՐ
                main(role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4")
                    h3 ԴԱՍԱԽՈՍԻ ԱՆՁՆԱԿԱՆ ՏՎՅԱԼՆԵՐ                  
                    <br/>
                    .teacher-div_1
                        .a   

                            img(src="/assets/images/boy.jpg" class="teacher-img" alt="")

                            br
                            p.p2 
                                    b= teacher.name                                
                                    b= teacher.surname 
                        .b
                            table(class='teacher-table')                           
                                tr
                                    th(class='teacher-th') ՀԱՅՐԱՆՈՒՆ
                                        td(class='teacher-td')= teacher.middlename
                                tr
                                    th(class='teacher-th') ՍԵՌ                              
                                        td(class='teacher-td')= teacher.gender
                                tr
                                    th(class='teacher-th') ԾՆ․ԱՄՍԱԹԻՎ          
                                        td(class='teacher-td')= teacher.birthday
                                tr
                                    th(class='teacher-th') ՀԵՌԱԽՈՍ
                                        td(class='teacher-td')= teacher.mobile
                                tr
                                    th(class='teacher-th') Էլ․ՀԱՍՑԵ                     
                                        td(class='teacher-td')= teacher.email
                    hr
                    br
                    .div_2
                        h3 About Me
                        hr 
                        p
                            label(for="")
                                i(class="fa fa-book") Education
                            input(type="text" class="teacher-input")
                        p
                            label(for="") 
                                i(class="fa fa-map-marker") Location
                            input(type="text" class="teacher-input")
                        p
                            label(for="")
                                i(class="fa fa-pencil") Skills 
                            input(type="text" class="teacher-input")
                        p
                            i(class="fa fa-file-text-o") Notes
                            input(type="text" class="teacher-input")                    
                    
                    
                    .teacher-div_3
                        button(type="button" class="teacher-button" href="#") View
                        button(type="button" class="teacher-button" href="#") Edit
                        br
                    a(href="/teachers" class="div_3-a") Վերադառնալ ցուցակին 