-var ՀԱՇՎԵՏՎՈՒԹՅՈՒՆ = "ՀԱՇՎԵՏՎՈՒԹՅՈՒՆ"

doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="")
        meta(name="author" content="")
        link(rel="stylesheet" href="/assets/css/student.css"  type='text/css')
        
        title= title
        
        // Bootstrap core CSS
        link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet")

        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css") 
    body
        nav(class ="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0")
            a(class="navbar-brand col-sm-3 col-md-2 mr-0" href="#") ՀԱՄԱԼՍԱՐԱՆ
            input(class="form-control form-control-dark w-100" type="text" placeholder="ՈՐՈՆՈՒՄ" aria-label="Search")
            ul(class="navbar-nav px-3")
                li(class="nav-item text-nowrap")
                    a(href="#").nav-link ԴՈՒՐՍ ԳԱԼ

        .container-fluid  
            .row
                nav(class="col-md-2 d-none d-md-block bg-light sidebar")
                    .sidebar-sticky
                        ul(class="nav flex-column" id="nav")
                            li.nav-item
                                p(class="p")
                                    span(data-feather="home")
                                    | ՑՈՒՑԱԿ
                                    hr  
                            li.nav-item
                                a(href="/professions").nav-link
                                    span(data-feather="file") 
                                    | ՄԱՍՆԱԳԻՏՈՒԹՅՈՒՆՆԵՐ
                            li.nav-item
                                a(href="/faculties").nav-link
                                    span(data-feather="shopping-cart")
                                    | ՖԱԿՈՒԼՏԵՏ  
                            li.nav-item
                                a(href="/students").nav-link
                                    span(data-feather="shopping-cart")
                                    | ՈՒՍԱՆՈՂՆԵՐ
                            li.nav-item
                                a(href="/teachers").nav-link
                                    span(data-feather="shopping-cart")
                                    | ԴԱՍԱԽՈՍՆԵՐ
                        h6(class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted")
                            a(class="d-flex align-items-center text-muted" href="#")
                                span(data-feather="plus-circle")
                        ul(class="nav flex-column mb-2" id="nav_1")
                            li.nav-item
                                a(href="#").nav-link
                                    span(data-feather="file-text")
                                    | ԸՆԹԱՑԻԿ ԱՄԻՍ
                            li.nav-item
                                a(href="#").nav-link
                                    span(data-feather="file-text")
                                    | ԵՐԿՐՈՐԴ ԿԻՍԱՄՅԱԿ
                            li.nav-item
                                a(href="#").nav-link
                                    span(data-feather="file-text")
                                    | ՏԱՐԵՎԵՐՋԻ ԶԵՂՉԵՐ
                main(role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4")
                    div
                        h3(class="list-h3") ՈՒՍԱՆՈՂՆԵՐԻ ԱՆՁՆԱԿԱՆ ՏՎՅԱԼՆԵՐ                  
                        a(class='list-button' href="/students/create") ԱՎԵԼԱՑՆԵԼ ՈՒՍԱՆՈՂ    
                    <br/>
                    .table-responsive
                        table(class="table table-bordered ")
                            thead.thead-dark
                                tr
                                    th #
                                    th ԱՆՈՒՆ
                                    th ԱԶԳԱՆՈՒՆ
                                    th ՀԱՅՐԱՆՈՒՆ
                                    th ՍԵՌ
                                    th ԾՆ․ԱՄՍԱԹԻՎ
                                    th ՀԵՌԱԽՈՍ
                                    th Էլ․ՀԱՍՑԵ
                                    th
                            tbody.table-hover
                             each val in student
                                tr  
                                    td= val._id
                                    td= val.name
                                    td= val.surname
                                    td= val.middlename
                                    td= val.gender
                                    td= val.birthday
                                    td= val.mobile
                                    td= val.email
                                    td 
                                        a(type="button" class="btn btn-primary" href=`/students/${val._id}`) 
                                            i(class="fa fa-bars")
                                        a(type="button" class="btn btn-info" href=`/students/edit/${val._id}`)
                                            i(class="fa fa-edit")
                                        a(type="button" class="btn btn-danger" href=`/students/delete/${val._id}`)
                                            i(class="fa fa-trash-o")
                                tr
                                  
                        ul(class="pagination justify-content-end")
                            li.page-item
                                a(href="#").page-link Previous
                            li.page-item
                                a(href="#").page-link 1
                            li.page-item
                                a(href="#").page-link 2
                            li.page-item
                                a(href="#").page-link 3
                            li.page-item
                                a(href="#").page-link Next